.artist-title {
  margin: 0% 15% 5% 15%
}

.artist-image {
  width: 100%;
  height: auto;
  max-width: 50%;
}

.artist-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-description {
  margin: 0% 15% 5% 15%;
  text-align: justify;
}